body {
  font-family: "Montserrat", "Noto Sans", sans-serif;
  color: #3f3f3f;
  background: linear-gradient(25deg, rgba(217, 217, 217, 0), rgba(63, 63, 63, 0.22));
  display: grid;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

img {
  display: block;
  width: 100%;
}

.font-noto {
  font-family: "Noto Sans";
}

.font-roboto {
  font-family: "Roboto";
}

@-webkit-keyframes bound-anim {
  0% {
    top: -15%;
    transform: scale(1);
  }
  30% {
    top: -40%;
  }
  50% {
    transform: scale(1);
  }
  90% {
    top: -15%;
    transform: scale(1.1, 0.8);
  }
  100% {
    top: -15%;
    transform: scale(1);
  }
}

@keyframes bound-anim {
  0% {
    top: -15%;
    transform: scale(1);
  }
  30% {
    top: -40%;
  }
  50% {
    transform: scale(1);
  }
  90% {
    top: -15%;
    transform: scale(1.1, 0.8);
  }
  100% {
    top: -15%;
    transform: scale(1);
  }
}
header {
  grid-row: 1;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  transition: padding 0.4s;
}
header .header__left {
  width: 172px;
}
header .header__right {
  display: none;
  align-items: center;
  gap: 60px;
}
header .header__elem a {
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
header .header__elem a:before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3f3f3f;
  transition: 0.2s ease-in-out;
  transform-origin: left top;
  transform: scale(0, 1);
}
header .header__elem a:hover:before {
  transform: scale(1, 1);
}
header .header__elem-signIn a {
  padding: 8px 24px;
  color: #fff;
  background-color: #3f3f3f;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
header .header__elem-signIn a:before {
  content: unset;
}
header .header__elem-signIn a:hover {
  opacity: 0.9;
}
header .header__elem-cart {
  width: 30px;
}
header .header__elem-cart a {
  position: relative;
  transition: 0.2s ease-in-out;
}
header .header__elem-cart a:before {
  content: unset;
}
header .header__elem-cart a:hover .header__cartNumber {
  -webkit-animation: bound-anim 0.8s infinite;
          animation: bound-anim 0.8s infinite;
}
header .header__cartNumber {
  position: absolute;
  width: 22px;
  top: -11px;
  right: -11px;
}

main {
  grid-row: 2;
  max-width: 1308px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
main .main__container {
  display: none;
  justify-content: center;
  align-items: center;
}
main .main__left {
  width: 31.33%;
}
main .main__leftTitle {
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
}
main .main__leftTitle span {
  letter-spacing: -0.13em;
}
main .main__leftDesc {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main .main__leftDesc p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}
main .main__leftDesc p span {
  display: inline-block;
}
main .main__leftInfo {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .main__leftInfo p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #a4a4a4;
}
main .main__leftToDetail {
  margin-top: 35px;
}
main .main__leftToDetail a {
  display: inline-flex;
  align-items: center;
  gap: 32px;
}
main .main__leftToDetail a:hover .main__leftToDetailArrow {
  transform: translateX(5px);
}
main .main__leftToDetailText {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
main .main__leftToDetailArrow {
  width: 32px;
}
main .main__leftToDetailArrow {
  transition: 0.3s ease-in-out;
}
main .main__center {
  margin-top: 20px;
  margin-right: 54px;
  margin-left: 152px;
  width: 293px;
}
main .main__right {
  width: 28.68%;
}
main .main__rightColors {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
main .main__rightColor input[type=radio] {
  display: none;
}
main .main__rightColor input[type=radio]:checked + label:before {
  opacity: 1;
}
main .main__rightColor label {
  width: 80px;
  aspect-ratio: 1/1;
  border-radius: 999px;
  display: block;
  position: relative;
}
main .main__rightColor label:before {
  content: "";
  width: 60px;
  aspect-ratio: 1/1;
  border: solid 1px #3f3f3f;
  border-radius: 999px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
main .main__rightColor label:hover:before {
  opacity: 1;
}
main .main__rightSizes {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}
main .main__rightSizes input[type=radio] {
  display: none;
}
main .main__rightSizes input[type=radio]:checked + label {
  background-color: #3f3f3f;
  color: #fff;
  font-weight: 500;
}
main .main__rightSizes label {
  font-family: "Roboto";
  font-weight: 300;
  border: 1px solid #3f3f3f;
  padding: 6px 28px;
  transition: 0.3s;
  border-radius: 999px;
  transition: 0.2s ease-in-out;
}
main .main__rightSizes label:hover {
  background-color: #3f3f3f;
  color: #fff;
}
main .main__rightInfos {
  margin-top: 32px;
}
main .main__rightInfo {
  display: flex;
  align-items: center;
  gap: 31px;
  margin-top: 16px;
}
main .main__rightInfo:first-child {
  margin-top: 0;
}
main .main__rightInfoTitle {
  min-width: 5rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #a4a4a4;
}
main .main__rightInfoRates {
  display: flex;
  align-items: center;
  gap: -1px;
}
main .main__rightInfoRates img {
  width: 24px;
}
main .main__rightInfoContent {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
main .main__rightPriceBlock {
  margin-top: 24px;
}
main .main__rightPrice {
  font-family: "Hiragino Kaku Gothic Pro";
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}
main .main__rightUnit {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
}
main .main__rightActions {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}
main .main__rightActionsSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f3f3f;
  color: #fff;
  padding: 10px 32px;
  border-radius: 999px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.2s ease-in;
}
main .main__rightActionsSubmit:hover {
  opacity: 0.7;
}
main .main__rightActionsFavorite {
  width: 42px;
  aspect-ratio: 1/1;
  border-radius: 999px;
  border: 1px solid #3f3f3f;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main__rightActionsFavorite img {
  width: 22px;
}
main .main__SP {
  display: block;
  text-align: center;
}

footer {
  grid-row: 3;
}

@media screen and (min-width: 768px) {
  header {
    padding: 32px 32px 0;
  }
  header .header__left {
    width: 281px;
  }
  header .header__right {
    display: flex;
  }
  main .main__container {
    display: flex;
  }
  main .main__SP {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  header {
    padding: 55.8px 30px 0;
  }
}
@media screen and (min-width: 1440px) {
  header {
    padding: 55.8px 80px 0;
  }
}/*# sourceMappingURL=style.css.map */