@import '../base';

#main{
    padding: 0 80px;
    .block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8%;
        .svg,
        .contents{
            width: 50%;
            max-width: 480px;
            h3{
                // font-family: "Helvetica";
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0.03em;
            }
            h2{
                font-size: 80px;
                font-weight: 600;
                letter-spacing: -0.03em;
                margin: 0 0 0 -2px;
            }
            p{
                font-size: 16px;
                font-weight: 500;
                letter-spacing: 0.036em;
                line-height: 32px;
                margin: 30px 0 0 0;
                span{
                    display: block;
                }
            }
        }
    }
    .block:nth-of-type(1){
        flex-direction: row;
    }
    .block:nth-of-type(2){
        flex-direction: row-reverse;
    }
    .main_products{

    }
}
