body {
  font-family: "Montserrat", "Noto Sans", sans-serif;
  color: #3f3f3f;

  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

img {
  display: block;
  width: 100%;
}

.font-noto {
  font-family: "Noto Sans";
}

.font-roboto {
  font-family: "Roboto";
}

header {
  grid-row: 1;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  transition: padding 0.4s;

  .header {
    &__left {
      width: 172px;
    }
  }
}

main {
  grid-row: 2;
  width: 100%;
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;

  h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 45px;
  }

  .main {
    &__container {
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    &__lists {
      display: flex;
      gap: 60px;
      margin-top: 120px;
    }

    &_flex {
      width: calc(50% - 30px);
    }

    &__list {
      height: 76px;
      overflow: hidden;
      transition: 0.3s;

      .main__listDesc {
      }

      &.on {
        .main {
          &__listDesc {
          }

          &__triangle {
            transform: rotate(180deg);
          }
        }
      }
    }

    &__listHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 32px 3.67px 20px 6px;
      // margin-top: 32px;
      border-bottom: 3px solid #3f3f3f;
      cursor: pointer;
    }

    &__listHeaderBlock {
      display: flex;
      align-items: center;
    }

    &__triangle {
      transition: 0.3s;
    }

    &__number {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      display: block;
      margin-right: 9px;
    }

    &__text {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      display: block;
    }

    &__listDesc {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      padding: 24px 17px 24px 39px;
      border-bottom: 3px solid #3f3f3f;
    }

    &__catch {
      text-align: center;
      font-family: "Roobto";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      margin-top: 80px;
      position: fixed;
      bottom: 120px;
      left: 0;
      width: 100%;
    }

    &__SP {
      display: block;
      text-align: center;
    }
  }
}

footer {
  grid-row: 3;
}

// md ~
@media screen and (min-width: 768px) {
  header {
    padding: 32px 32px 0;

    .header {
      &__left {
        width: 281px;
      }

      &__right {
        display: flex;
      }
    }
  }

  main {
    .main {
      // &__container {
      //   display: block;
      // }

      // &__SP {
      //   display: none;
      // }
    }
  }
}

// xlg ~
@media screen and (min-width: 1024px) {
  header {
    padding: 55.8px 30px 0;
  }

  main {
    .main {
      &__lists {
      }

      &__list {
        max-width: 560px;
      }
    }
  }
}

// lg ~
@media screen and (min-width: 1440px) {
  header {
    padding: 55.8px 80px 0;
  }
}
