.link_button{
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $colorWhite;
    padding: 15px 0;
    margin: 0 auto;
    transition-timing-function: cubic-bezier(0.28, 0.04, 0.01, 0.96);
    position: relative;
    z-index:0;
    &:before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        z-index: -1;
        inset: 0;
        background: linear-gradient(220deg, $colorAccent, #47d4c4);
        transition-duration: .3s;
        border-radius: 99999px;
    }
    &:after{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        z-index: -2;
        inset: 0;
        background: linear-gradient(220deg, #2cb3a3, #36bcac);
        border-radius: 99999px;
    }
    &:hover::before{
        opacity: 0;
    }
}
