#product, #main{
    .body{
        width: 100vw;
        // min-width: 100vw;
        margin: 0 calc(50% - 50vw);
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display:none;
        }
        ul{
            display: flex;
            gap: 0 40px;
            li.spacerList{
                min-width: calc(100% - 1040px - 40px - ((100% - 1040px) / 2));
            }
            li{
                min-width: 500px;
                article{
                    cursor: pointer;
                    .contents{
                        padding: 14px;
                        .categories{
                            font-size: 15px;
                            font-weight: 600;
                            letter-spacing: 0.02em;
                            color: $colorThin
                        }
                        .title{
                            font-size: 40px;
                            font-weight: 600;
                            letter-spacing: 0.02em;
                            margin: 10px 0 0 0;
                        }
                        .subtitle{
                            font-size: 16px;
                            font-weight: 600;
                            letter-spacing: 0.02em;
                            margin: 6px 0 0 0;
                        }
                    }
                }
            }
        }
    }
}
