.products_head{
    margin: 0 0 20px 0;
    h2{
        font-size: 80px;
        font-weight: 600;
        letter-spacing: 0em;
        margin: 0 0 0 -4px;
    }
    .categories_field{
        display: flex;
        justify-content: space-between;
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 12px 40px;
            li{
                font-size: 17px;
                font-weight: 600;
                letter-spacing: 0.03em;
                color: $colorThin;
                cursor: pointer;
            }
        }
        a{
            display: flex;
            align-items: center;
            transition: .3s;
            &:hover{
                color: $colorAccent;
            }
        }
    }
}
