#product{
    padding: 0 80px;
    margin: 280px 0 0 0;
    .thumbnail{
        width: 100%;
    }
    h1{
        font-size: 80px;
        letter-spacing: .03em;
    }
    .subtitle{
        font-size: 17px;
        letter-spacing: .02em;
        margin: 4px 0 0 0;
    }
    .categories{
        font-size: 16px;
        letter-spacing: 0.02em;
        color: $colorThin;
        margin: 14px 0 0 0px;
    }
    .time{
        font-size: 13px;
        letter-spacing: .02em;
        color: $colorThin;
        margin: 5px 0 0 0px;
        display: block;
    }
    .breadcrumb{
        margin: 4px 0 0 0;
    }
    .thumbnail{
        margin: 80px 0 0 0;
    }
    .button-wrap{
        margin: 40px 0 0 0;
    }
}
