#products{
    margin: 280px 0 0 0;
    padding: 0 80px;
    .index_products{
        width: 100%;
        max-width: 1040px;
        margin: 0 auto;
        .body{
            ul{
                display: flex;
                gap: 40px 80px;
                flex-wrap: wrap;
                li{
                    width: calc(50% - 40px);
                    max-width: 480px;
                    article{
                        cursor: pointer;
                        .contents{
                            padding: 14px;
                            .categories{
                                font-size: 15px;
                                font-weight: 600;
                                letter-spacing: 0.02em;
                                color: $colorThin
                            }
                            .title{
                                font-size: 40px;
                                font-weight: 600;
                                letter-spacing: 0.02em;
                                margin: 10px 0 0 0;
                            }
                            .subtitle{
                                font-size: 16px;
                                font-weight: 600;
                                letter-spacing: 0.02em;
                                margin: 6px 0 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
