.li{
    width: 48%;
    .card_text_box{
        padding: 10px;
        margin-bottom: 40px;
        .categories{
            padding-bottom: 14px;
        }
        .card_title{
            margin-left: -2px;
            display: inline-block;
        }
    }
}
