@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'SF Pro JP', 'SF Pro Display', 'SF Pro Icons',
    'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', 'Meiryo',
    'ＭＳ Ｐゴシック', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

  color: #1c1918;
  letter-spacing: 0.03rem;
}
