.max-width{
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 5rem;
}

.bg{
  &-grey{
    background: #F2F2F2
  }
  &-darkGrey{
    background: #838383;
  }
  &-black{
    background: #1C1C1C
  }
}

.font{
  &-roboto{
    font-family: 'Roboto';
  }
}

.w{
  &-card{
    width: calc(25% - 0.75rem);
  }
}

.here{
  position: relative;

  &:before{
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 99px;
    background: #2FA597;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
