@import '_base.scss';
.section{
    max-width: 1112px;
    margin: 0 auto;
    .h2{
        margin-bottom: 10px;
    }
    .buttons_box{
        margin-bottom: 20px;
        button{
            &.fontset_e_s {
                font-family: inherit;
                font-size: $fz_e_s;
                font-weight: bold;
                letter-spacing: 0.03em;
                line-height: 1.647;
                color: $colorThin;
                border: none;
                background: inherit;
                margin-right: 20px;
                transition: .3s;
                &:hover{
                    color: $colorText;
                    transition: .3s;
                }
            }
        }
    }
}
