@import '_base.scss';

// text English
.fontset_e_l {
  font-family: inherit;
  font-size: $fz_e_l;
  font-weight: bold;
  letter-spacing: -0.01em;
  line-height: 1;
  color: $colorText;
}
.fontset_e_m {
  font-family: inherit;
  font-size: $fz_e_m;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  color: $colorText;
}
.fontset_e_s {
  font-family: inherit;
  font-size: $fz_e_s;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 1.647;
  color: $colorText;
}
.fontset_e_xs {
  font-family: inherit;
  font-size: $fz_e_xs;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1;
  color: $colorThin;
}

// text Japanese
.fontset_j_l {
  font-family: inherit;
  font-size: $fz_j_l;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1;
  color: $colorText;
}
.fontset_j_m {
  font-family: inherit;
  font-size: $fz_j_m;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: $colorText;
}
.fontset_j_s {
  font-family: inherit;
  font-size: $fz_j_s;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.142;
  color: $colorText;
}
.fontset_j_xs {
  font-family: inherit;
  font-size: $fz_j_xs;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1.153;
  color: $colorThin;
}

// text Number
.fontset_n_m {
  font-family: inherit;
  font-size: $fz_n_m;
  font-weight: bold;
  letter-spacing: 0.02em;
  line-height: 1.166;
  color: $colorThin;
}

.main_button {
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
  color: $colorText;
  text-align: center;
  background: $colorBase;
  display: block;
  border: 0;
  border-radius: 9999px;
  min-width: 300px;
  max-height: 50px;
  padding: 15px 0;
  margin: 0 auto;
  transition: .3s;
  &:hover{
    color: $colorAccent;
    transition: .3s;
  }
}

.main_shadow{
  box-shadow: 4px 4px 10px #00000021, -4px -4px 5px #ffffff, inset 0 0 30px #00000003;
}

.accent_shadow{
  box-shadow: 4px 4px 10px #00000021, -4px -4px 5px #ffffff, inset 0 0 30px #00000003;
  &:hover{
    box-shadow: 4px 4px 5px #36bcac59, -4px -4px 5px #ffffff, inset 0 0 30px #00000003;
  }
}
